<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>西条だんじり録　編集</title>
</head>

<body>
    <header>
        <h1>西条だんじり録　編集</h1>
        <nav>
            <ul>
                <li><a href="./">一覧</a></li>
                <li><a href="search.html">検索</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main>

            <form action="" method="post">
                <input id="id" name="id" type="hidden" value="<%= person.id %>">
                <dl>
                    <dt>屋台名<span class="must">※</span></dt>
                    <dd>
                        <input type="text" name="name" value="<%= person.yataiName %>">
                    </dd>
                    <dt>読み方<span class="must">※</span></dt>
                    <dd>
                        <input type="text" name="kana" value="<%= person.yataiNameKana %>">
                    </dd>
                    <dt>制作年</dt>
                    <dd>
                        <input type="text" name="production" value="<%= person.production %>">
                    </dd>
                    <dt>大工</dt>
                    <dd>
                        <input type="text" name="carpenter" value="<%= person.carpenter %>">
                    </dd>
                    <dt>彫刻</dt>
                    <dd>
                        <input type="text" name="sculptor" value="<%= person.sculptor %>">
                    </dd>
                    <dt>奉納神社</dt>
                    <dd>
                        <input type="text" name="shrine" value="<%= person.shrine %>">
                    </dd>
                </dl>
                <p class="submit"><input type="submit" name="submit" value="変更"></p>
            </form>

        </main>
    </div>
</body>

</html>